/* #FFCA4B
#FFA500 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  line-height: 1.5;
  font-size: 10px;
  background: #372700;
  color: #c08800;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 15px;
}
header h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}
header p {
  font-size: 1.3rem;
  font-style: italic;
  text-transform: lowercase;
  margin-top: -15px;
}
.horizontal-line {
  width: 70%;
  background: #fff;
  margin: 0 auto;
  height: 0.2px;
}
.input-task {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  font-size: 1.2rem;
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.form input {
  padding: 10px;
  width: 35%;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  font-size: 1.2rem;
}
button {
  outline: none;
  font-weight: 700;
  font-size: 1.2rem;
  background: #c08800;
  color: #fff;
  border-color: #c08800;
  border-radius: 5px;
  padding: 5px 20px;
}
.primary-btn {
  font-weight: 700;
  background: #c08800;
  color: #fff;
  border-color: #c08800;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.primary-btn:hover {
  color: #c08800;
  background: #fff;
}
.task-menu {
  width: 90%;
  border-radius: 5px;
  margin: 20px auto;
  background: #fff;
}
.container {
  width: 100%;
  padding: 15px;
  min-height: 65vh;
}
.tasks-container {
  display: flex;
  flex-wrap: wrap;
}
.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 45%;
  height: auto;
  margin: 1.8% 2%;
  padding: 7px;
  border-radius: 5px;
  background: #c08800;
  color: #fff;
}
.tasks p {
  display: block;
  flex: 1;
}
.undo-btn {
  background: #333;
  margin-right: 10px;
}
.done-btn {
  background: darkgreen;
  margin-right: 10px;
}
.edit-btn {
  background: darkslategrey;
  margin-right: 10px;
}
.delete-btn {
  background: darkred;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.line-through {
  text-decoration: line-through;
}

/* ------------------ */
/* MEDIA QUERIES */
/* ------------------ */
@media (max-width: 780px) {
  header {
    margin: 5px auto;
    padding: 5px 10px;
  }
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 1.1rem;
  }
  .input-task {
    padding: 8px;
  }
  .form input {
    padding: 8.5px;
    width: 45%;
    font-size: 1.1rem;
  }
  .primary-btn {
    font-weight: 600;
    padding: 5px;
  }
  .tasks-container {
    display: flex;
    flex-direction: column;
  }
  .tasks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
    width: 95%;
    margin: 1.8% 2%;
    padding: 7px;
    border-radius: 5px;
    background: #c08800;
    color: #fff;
  }
  footer {
    margin-bottom: 10px;
  }
}

@media (max-width: 520px) {
  header h1 {
    font-size: 2.2rem;
  }
  header p {
    font-size: 1rem;
    margin: -8px 0px 5px;
  }
  .horizontal-line {
    width: 90%;
  }
  .input-task {
    padding: 10px;
    font-size: 1rem;
  }
  .form input {
    padding: 4px;
    width: 70%;
  }
  button {
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 5px;
  }
  .primary-btn {
    font-weight: 400;
    padding: 3px;
  }
  .task-menu {
    width: 90%;
    margin: 15px 5%;
    background: #fff;
  }
  .tasks {
    font-size: 1rem;
  }
  footer {
    font-size: 0.95rem;
    padding: 10px;
  }
}
@media (max-width: 380px) {
  body {
    line-height: 1.2;
  }
  header h1 {
    font-size: 1.8rem;
    margin-top: 5px;
  }
  header p {
    font-size: 0.8rem;
    margin: 5px 0px 5px;
  }
  .task-menu {
    width: 96%;
    margin: 15px 2%;
  }
  .tasks {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.8rem;
    padding: 10px;
  }
}

@media (max-width: 340px) {
  .primary-btn {
    font-size: 0.75rem;
  }
  .undo-btn {
    margin-right: 5px;
  }
  .done-btn {
    margin-right: 5px;
  }
  .edit-btn {
    margin-right: 5px;
  }
  footer {
    font-size: 0.75rem;
  }
}
